header {
    background-color:#4aaaa5;
    margin-left: 100px;
    border: solid red
}
#Top-Banner {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 50px;
}
.logo {
    border: solid blue;
    margin-right: 50px;
}

ul {
    float: right;
}

body {
    border: solid black;
    background-color: #ffffff;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-left: 25px;
}
img {
    height: 150px;
    width: 150px;
    padding-left: 25px;
}
.content {
    border: solid green;
    margin-top: 50px; 
    margin-left: 100px;
}