h1 {
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto;

}

img {
    height: 15%;
    width: 15%;
    float:left;
    margin-right:20px;
    
}

h2 {
    color: #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 960px;
}

p {
    margin:20px;
   
}

ul {
    align-content: center;
    
}
body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif; 
    background: url("assets/images/gravel.png");
 
}
.header-container {
    margin:20px;
}
.container {
    width: 960px;
    margin: 0 auto;
    border: solid 1px #dddddd
}
footer {
    background-color: #666666;
    